
/*
div {
    font-family: Helvetica;
    background-color: #272D33;
    color: white;
    font-size: 32px;
    padding: 5px;
} 
*/
#big_div {
    display: flex;
    justify-content: space-around;
}  
.items {
   background-color: white;
   border: none;
   color: white;
   padding: 12px 16px;
   font-size: 16px;
   cursor: pointer;
}
img {
    width: 60px;
}  
.items:hover {
    background-color: white;
    opacity: 0.5;
}
a {
    width: 20%;
    text-align: center;
    text-decoration: none;
}
h1 {
   text-align: center;
}
p {
   text-align: justify;
}