div {
    font-family: Helvetica;
    background-color: #272D33;
    color: white;
    font-size: 20px;
    padding: 5px;
} 
#big_div {
    display: flex;
    justify-content: space-around;
}  
.items {
   background-color: #272D33;
   border: none;
   color: #272D33;
   padding: 5px 5px;
   font-size: 16px;
   cursor: pointer;
   display: block;
}
img {
    background-color: #272D33;
    height: 50px;
    width: 70px;
    top: 0px;
}  
.items:hover {
    background-color: #272D33;
    opacity: 100%;
}
a {
    width: 20%;
    text-align: center;
    text-decoration: none;
}
h1 {
   font-family: Helvetica;
    text-align: center;
}
p {
   text-align: center;
}
#gallery {
    /*justify-content: space-around;
    justify-content: inline;*/
    display: flex;
    justify-content: space-evenly;
    background-color: white;
}
.desc {
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    font-family: Helvetica;
    color: black;
}